* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: white;
}

#main-area {
  position: fixed;
  margin: 0;
  top: calc(50% - 255px);
  left: calc(50% - 350px);
  width: 700px;
  height: 510px;
}

#puzzle {
  position: absolute;
  top: 0;
  right: 0;

  margin: 0;
  width: 510px;
  height: 510px;
  background-color: #f9f9f9;
  outline:#f9f9f9 solid 15px;
}

.piece {
  position: absolute;
  width: 170px;
  height: 170px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  background-size: 510px;
  transition-property: top, left;
  transition-duration: 130ms;
  transition-timing-function: ease;
  z-index: 2;
}

#idx0 {
  background-color: white;
  transition-property: none;
  transition-duration: 0;
  z-index: 1;
}

#controller {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin: 0;
  width: 190px;
}

.ctrl-btn {
  padding: 10px 0;
  text-align: center;
  margin: 7px 20px;
  border: none;
  width: 130px;
  font-size: 16px;
  font-weight: normal;
  box-shadow: 5px 5px #cacaca;
  background-color: rgba(255,130,169,1);
}

.ctrl-btn:hover {
  background-color: rgba(240,115,150,1);
  cursor: pointer;
}

.ctrl-btn:active {
  box-shadow: 2px 2px #cacaca;
}

#barrier {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

.half-trans {
  background-color: rgba(255,255,255,0.8);
}

.trans {
  background-color: transparent;
}

.window {
  position: absolute;
  margin: 0;
  padding: 25px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background-color: rgba(255,130,169,1);
  box-shadow: 8px 8px #cacaca;
}

.window-img {
  display: block;
  margin: 0 auto;
  height: 96px;
}

.window-btn {
  display: block;
  position: absolute;
  bottom: -60px;
  padding: 10px 0;
  border: none;
  background-color: rgba(255,130,169,1);
  box-shadow: 5px 5px #cacaca;

  width: 120px;

  font-weight: bold;
  font-size: 18px;
}

.window-btn:hover {
  background-color: rgba(240,115,150,1);
  cursor: pointer;
}

.window-btn:active {
  box-shadow: 2px 2px #cacaca;
}

#recover {
  left: 170px;
  display: none;
}

#cancel {
  right: 170px;
  display: none;
}

#success-close {
  left: 50%;
  transform: translate(-50%, 0);
}

#message {
  text-align: center;
  font-size: 17px;
}

#ai-window {
  display: none;
}

#success {
  display: none;
}

#gallery {
  position: fixed;
  width: 640px;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #eeecec;
  box-shadow: 10px 10px #cacaca;
}

#gallery h1 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  color: rgb(255, 78, 134);
}

#gallery h2 {
  font-size: 18px;
  margin: 10px;
  color: rgb(255, 78, 134);
}

.folders {
  margin: 0;
  padding: 0;
  height: 90%;
  overflow: auto;
}

.img-items {
  display: inline-block;
  margin: 15px 8px;
  width: 130px;
  outline: rgb(247, 247, 247) solid 7px;
  cursor: pointer;
}

#gallery-close {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px 0;
  border: none;
  background-color: rgba(255,130,169,1);
  box-shadow: 5px 5px #cacaca;

  width: 70px;

  font-weight: bold;
  font-size: 18px;
}

#gallery-close:hover {
  background-color: rgba(240,115,150,1);
  cursor: pointer;
}

#gallery-close:active {
  box-shadow: 2px 2px #cacaca;
}

#about-win {
  position: fixed;
  width: 300px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(255,130,169,1);
  box-shadow: 7px 7px #cacaca;
}

#about-win * {
  color: white;
}

#about-win h1 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 25px;
}

#about-win h2 {
  font-size: 17px;
}

#about-win p {
  font-size: 15px;
  font-weight: normal;
}

#about-win a:link, a:visited {
  background-color: rgb(255, 149, 183);
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
  
#about-win a:hover, a:active {
  background-color: rgb(249, 158, 186);
}

#about-close {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 10px 0;
  border: none;
  background-color: white;
  color: rgb(255, 78, 134);
  box-shadow: 5px 5px #cacaca;

  width: 60px;

  font-weight: bold;
  font-size: 16px;
}

#about-close:hover {
  background-color: #eee;
  cursor: pointer;
}

#about-close:active {
  box-shadow: 3px 3px #cacaca;
}

.close {
  display: none;
}


@media screen and (max-width: 750px) {
  #main-area {
    width: 510px;
    height: 640px;
    top: calc(50% - 320px);
    left: calc(50% - 255px);
  }
  
  #puzzle {
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
  }

  #controller {
    width: 400px;
    height: auto;
    left: 50%;
    bottom: auto;
    top: 0;
    right: auto;
    transform: translate(-50%, 0);
  }

  .ctrl-btn {
    float: left;
    margin: 7px 10px;
    width: 120px;
  }
  
  .ctrl-btn:hover {
    background-color: rgba(255,130,169,1);
  }

  #new {
    width: 220px;
  }

  #images {
    width: 140px;
  }

  #size {
    width: 120px;
  }

  #ai {
    width: 140px;
  }

  #about {
    width: 80px;
  }

  .window {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 450px;
  }
  
  .window-img {
    height: 72px;
  }
  
  .window-btn:hover {
    background-color: rgba(255,130,169,1);
  }

  #recover {
    left: 80px;
  }
  
  #cancel {
    right: 80px;
  }

  #message {
    padding: 0 25px;
  }
  
  #gallery {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  #gallery h1 {
    margin: 20px 15px;
  }
  
  .folders {
    margin: 0 15px;
  }
  
  #gallery-close {
    width: 60px;
    font-size: 15px;
  }
  
  #gallery-close:hover {
    background-color: rgba(255,130,169,1);
  }
  
  #about-win {
    width: 290px;
    padding: 20px;
  }
  
  #about-close {
    top: 13px;
    right: 12px;
  }
  
  #about-close:hover {
    background-color: white;
  }
}

@media screen and (max-width: 550px) {
  #main-area {
    width: 330px;
    height: 510px;
    top: calc(50% - 255px);
    left: calc(50% - 165px);
  }
  
  #puzzle {
    width: 330px;
    height: 330px;
    outline:#f9f9f9 solid 12px;
  }

  .piece {
    background-size: 330px;
  }

  #controller {
    width: 280px;
  }

  #new {
    width: 260px;
  }

  #images {
    width: 100px;
  }

  #size {
    width: 140px;
  }

  #ai {
    width: 160px;
  }

  #about {
    width: 80px;
  }

  .window {
    width: 300px;
  }
  
  .window-img {
    height: 56px;
  }

  #recover {
    left: 10px;
  }
  
  #cancel {
    right: 10px;
  }
  
  #gallery h1 {
    font-size: 25px;
  }
  
  .img-items {
    width: 90px;
  }

  #gallery-close {
    top: 15px;
    right: 15px;
  }
}