#main-area {
  position: fixed;
  margin: 0;
  /* top: 37px;
  left: 27px; */
  top: calc(50% - 255px);
  left: calc(50% - 350px);
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 700px;
  height: 510px;

  background-color: gainsboro;
}

#puzzle {
  position: absolute;
  top: 0;
  right: 0;
  /* transform: translate(0, -50%); */

  margin: 0;
  width: 510px;
  height: 510px;
  background-color: aliceblue;
}

.piece {
  position: absolute;
  width: 170px;
  height: 170px;
  margin: 0;
  padding: 0;
  background-color: violet;
  background-size: 510px;
  /* border-style: solid; */
  /* border-color: white; */
  /* border-width: 5px; */
  transition-property: top, left;
  transition-duration: 130ms;
  transition-timing-function: ease;
  z-index: 2;
}

#idx0 {
  background-color: aliceblue;
  transition-property: none;
  transition-duration: 0;
  z-index: 1;
}

#controller {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin: 0;
  width: 190px;
  height: 10em;
  background-color: coral;
}

/* 响应式布局 - 当屏幕的宽度小于 800 像素时，使两列堆叠而不是并排 */
@media screen and (max-width: 719px) {
  #main-area {
    width: 510px;
    height: 720px;
    top: calc(50% - 360px);
    left: calc(50% - 255px);
  }
  
  #puzzle {
    /* left: 50%; */
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
    /* transform: translate(-50%, 0); */
  }

  #controller {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 190px;
    height: 210px;
    background-color: coral;
  }
}

@media screen and (max-width: 540px) {
  #main-area {
    width: 300px;
    height: 510px;
    top: calc(50% - 255px);
    left: calc(50% - 150px);
  }
  
  #puzzle {
    width: 300px;
    height: 300px;
  }

  .piece {
    background-size: 300px;
  }

  #controller {
    width: 190px;
  }
}