#puzzle {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 510px;
  height: 510px;
  background-color: aquamarine;
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: violet;
  border-style: none;
  border-width: 0;
}

.second {
  top: 0;
  left: 190px;
}

/* 响应式布局 - 当屏幕的宽度小于 800 像素时，使两列堆叠而不是并排 */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* 响应式布局 - 当屏幕的宽度小于 400 像素时，使导航链接堆叠而不是并排 */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}